*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar-brand{
    background-color:red;
    color:white;
    /* padding:15px; */
    border-radius:5px;
    font-weight:600;
    width: 40px;
    text-align: center;
}
.icon ul {
    list-style: none;
    display:flex;
    flex-direction:row;
}
.icon ul li{
    margin:5px;
    border-radius:20px;
    /* margin-left:-31px; */
}
.icon ul li i{
    width:20px;
    height:auto;
    /* background-color:red; */
    border-radius:20px;
    padding:5px;
    /* color:#fff */


}
.info ul li{
    list-style-type: none;
    text-decoration: none;
    /* margin-left:-31px; */
}
.col-sm-10 p{
    font-weight: 600;

}
.footer{
    background-color:#080808d1;
    color:#fff;
}
.footer .container{
    padding:25px;
}
.banner{
    background-image: url("img/banner.jpg");
    width:100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.banner .container{
    position:absolute;
    margin-top: 200px;
    color: white;
    /* font-size: 58px; */
    margin-left: 108px;
}
.banner .container h4{
    font-size: 50px;
}
.banner .container p{
    font-size: 18px;
}
.banner .container button{
    padding:8px;
    outline:none;
    border:1px solid #fff;
}
.banner .container .talk{
    background-color:#00000045;
    color:#fff;
}
@media screen and (min-width: 200px) and (max-width:700px){
    .banner{
        height:80vh;
    }
    .banner .container{
        position:absolute;
        margin-top: 150px;
        color: white;
        margin-left: 0px;
    }
    .banner .container h4{
        font-size: 25px;
    }
    .coll{
        padding:35px;
    }
   
  }

  @media screen and  (max-width:400px) {
    .view_coll{
        width:250px;
  }
  /* .coll{
    padding:10px;
  } */
}


  .Challenged .container center h4{
    font-weight:700;
  }
  .View h4{
    font-size:25px;
    font-weight:700;
  }
  .COLLECTION .col-6 h5{
    font-size:20px;
    font-weight:700;
  }
  .COLLECTION .col-xl-6 h5::after{
    content:'';
    width:35%;
    height:1px;
    position:absolute;
    background-color:#000000a1;
    margin-left: -170px;
    margin-top: 30px;
  }
  .COLLECTION .col-xl-6 h4{
    font-size: 51px;
    margin-top: 25px;
    font-weight:650;
  }
  .btnn{
    border:none;
    color:black;
    padding:6px;
    font-size:15px;
  }
  .coll{
    padding:80px;
    background-color:#bdc3c733;
    /* padding-left:0px; */
  }
  .coll_right{
    padding:80px;
    background-color:#34495e;
    color:white; 
  }
  .COLLECTION .coll_right h5::after{
    content:'';
    width:35%;
    height:1px;
    position:absolute;
    background-color:#fff;
    margin-left: -170px;
    margin-top: 30px;
  }
  .next_img{
    width:100px;
    height:auto;
  } 
  .next_img img{
    width:100%;
    height:auto;
   
  }
  .next{
    padding:40px;
  }
  .next p .next h4{
    text-align:center;
  }
  .video{
    width:320px;
    height:auto;
  }
  .video img {
    width:100%;
    height:auto;
  }
  .free {
    margin-top:40px;
  }
  .testi{
    width:140px;
    height:auto;
    
  }
  .testi img{
    width:100%;
    height:auto;
    
  }
  .testii{
    width:50px;
    height:auto;
  }
  .punjabi_img{
    width:300px;
    height:auto;

  }
  .punjabi_img img{
    width:100%;
    height:auto;
  }
  .punjabi_content{
    padding:40px;
  }
  .new_img{
    width:350px;
    height:auto;
  }
  .new_img img{
    width:100%;
    height:auto;
  }
  .new center h4{
    font-size:25px;
    font-family: 700;
  }
  .watch{
    border:none;
    
    background-color:white;
    margin-top:-20px;
    margin-left:-12px;
  }
  .watch .btn{
    border:none;
    color:#f0932b;
    font-weight:500;
  }
  .read{
    border-bottom: 1px solid #f0932b ;
    width:120px;
    margin-top:-20px;
  }
.read .btn{
    border:none;
    color:#f0932b;
    font-weight:500;
  }